<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <title>About Us</title>
  </head>
  <d>
    <nav>
      <a href="/" class="nav-home">Job Search</a>
      <div class="nav-right">
        <a href="/about">About</a>
      </div>
    </nav>
    <div class="bg-image">
    <div class="about-section">
      <h1>About Page</h1>
      <p>This is little web project is built using Node.js & Express.js</p>
      <p>
        Well Let me introduce you to the team that put this together
      </p>
    </div></div>
    <h1>Our Team</h1>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="back1.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Shilpa Ghode</h2>
            <h4 class="title">Project Guide</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i><i>shilpa82.2009@gmail.com</i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="sanket.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Sanket Debnath</h2>
            <h4 class="title">Backend Developer</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i
            ><i>sanketdebnath24@gmail</i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="back1.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Tejas Shiyale</h2>
            <h4 class="title">UI Designer</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i><i>example@gmail</i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="back1.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Kalyani Urkude</h2>
            <h4 class="title">Researcher</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i><i>example@gmail</i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="back1.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Sanjeeth Chittyala</h2>
            <h4 class="title">UI Designer</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i><i>example@gmail</i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="back1.jpg" alt="Mike" style="width: 100%" />
          <div class="container">
            <h2>Punit Dekate</h2>
            <h4 class="title">Pitcher & Researcher</h4>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <i class="fa fa-envelope">&nbsp;&nbsp;</i><i>example@gmail</i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
