<!DOCTYPE htm>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/w3css/3/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    />
  </head>
  <body>
    <h1>About us</h1>

    <div class="row">
      <div class="column">
        <div class="card">
          <img src=".jpg" alt="Name1" style="width: 100%" />
          <div class="container">
            <h2>Name1</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src=".jpg" alt="Name2" style="width: 100%" />
        <div class="container">
          <h2>Name2</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src=".jpg" alt="Name3" style="width: 100%" />
        <div class="container">
          <h2>Name3</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src=".jpg" alt="Name4" style="width: 100%" />
        <div class="container">
          <h2>Name4</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src=".jpg" alt="Name5" style="width: 100%" />
        <div class="container">
          <h2>Name5</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </body>
</html>
