<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/w3css/3/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <title>Job Search</title>
  </head>

  <body>
    <!--This is a navigation bar-->
    <nav>
      <a href="/" class="nav-home">Job Search</a>
      <div class="nav-right">
        <a href="/about">About</a>
      </div>
    </nav>

    <div class="clear"></div>

    <!---This is for search box---->
    <div class="bg-image"></div>
    <div class="bg-text">
      <div class="search-container">
        <form class="main" method="GET" action="/search">
          <input type="text" name="description" placeholder="Job description" />
          <input type="text" name="location" placeholder="Location" />
          <button class="search-button" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>

    <div class="clear"></div>
  </body>
</html>
