body {
  background-color: #f1f1f1;
  color: #444444;
}
.error-head {
  color: #d73a49;
  font-size: 60px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 40px;
}
.error-subhead {
  margin: auto;
  font-size: 2rem;
}
.error-container {
  display: grid;
  text-align: center;
}
.error-message {
  font-size: 20px;
}
